@charset "UTF-8";

:root {
    --cor00: black;

}

body{
    background-image: linear-gradient(to bottom, rgb(85, 85, 85), black ,rgb(85, 85, 85));
    height: 100vh;
}
header{
    padding: 5px;
    background-image: linear-gradient(to bottom, rgb(85, 85, 85), black,rgb(85, 85, 85));
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
span.menuesq{
    font-size: 25px;
    font-weight: bold;
}
span.menudir{
    margin: auto 0 auto 0;
    float: right;
    vertical-align: middle;
}
header > span > a{
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    transition-duration: 0.5s;
}
header > span > a:hover{
    background-color: rgb(155, 155, 155);
    color:rgb(43, 42, 42);
    border-color: rgb(155, 155, 155);
    font-weight: bold;
}

main{
    background-color: white;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    min-width: 250px;
    max-width: 900px;
}
article{
    border: 1px solid rgb(0, 0, 0);
}
/* Parte introdução */
.intro > h2{
    display: inline-block;
    margin: 5px;
}
.intro > p{
    margin: 2px;
}
.intro > img{
    height: 100px;
    float: left;
}

/* Parte Projeto */
.proj > nav > img{
    height: 25px;
    float: left;
}

/* Parte Formação */
.form > nav > img{
    height: 25px;
    float: left;
}

/* Parte Experiências */



footer{
    background-image: linear-gradient(to bottom, rgb(85, 85, 85), black);
    height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
}
footer > p{
    padding-top: 10px;
}