
:root {
    --cor00: black;

}
*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
img{
    width: 40px;
    height: 40px;
}
body{
    background-image: linear-gradient(45deg, rgb(0, 0, 0) 65%, rgb(22, 22, 22), rgb(75, 75, 75));
}
/*CABEÇALHO*/
header{

    top: 0;
    position: sticky;
    text-align: right;
    text-decoration: none;
    background-color: black;
    padding: 5px 0; 
}
header a{
    padding: 4px;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
}
/*Projetos*/
section.projetos{
    margin: 10px;
    height: 80vh;
    border: 1px solid rgb(78, 78, 78);
    box-shadow: 0 0 3px whitesmoke;
}
/*Sobre*/
.container{
    text-align:center;
    margin: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    box-shadow: 0 0 5px whitesmoke;

}
section.sobre{
    border: 1px solid rgb(78, 78, 78);
    margin: 5px;
    width: 45%;
    padding: 5px;
    
}
div.sobre{
    display: flex;
    margin: 5px;
}
div.sobre p{

    text-indent: 20px;
    padding: 5px;
}
section.contatos{
    border: 1px solid rgb(78, 78, 78);
    margin: 5px;
    width: 45%;
    padding: 5px;
}
section.contatos a{
    margin-right: 10px;
    text-decoration: none;
    background-color: white;
}